{% extends 'base.html'%}
{% block title %}
	Agregando productos
{% endblock title %}
{% block content %}
	
	{# enctype="multipart/form-data" para subir imagen #}
 	<form action="." method="POST" enctype="multipart/form-data">
 		{% csrf_token %}
 		{{ form.as_p }}
 		<input class="btn btn-primary" type="submit" value="Grabar">
 		<input class="btn btn-primary" type="reset"  value="Limpiar">

	</form>
	<br />

		<div class="label label-info" >
			
			{{ informacion }}
		</div>
	<br />
	
	{# <a  href="{% url vista_productos %}" class="btn btn-inverse"title="">Regresar a lista producto</a> #}
{% endblock content %}